{% extends 'base.html' %} {% block content %}

<div class="card-container" id="profileContainer">
    <div class="card ">
        <div class="card-content" >
            <div class="profileHeading">
                <span class="card-title"><h1>{{ profile.user.username }}</h1></span>
                <img class="responsive-img" id="profilePhoto" src="{{profile.avatar}}">
            </div>
            <div class="card bio">
                <h5>Bio:</h5>
                <p>{{ profile.bio }}</p>
                
            </div>
                <a href="{% url 'profile_update' user.id %}" id="editDeletebtns">Edit</a>
            <div class="card-container">
                {% for posts in post %}
                    <div class="card post-card">

                            <div class="card-content">
                                <span class="card-title">{{ posts.title }}</span>
                                {% if photo in posts.photo_set.all %}
                                <img class="responsive-img card-panel" src="{{posts.photo.url}}">
                                {% else %}
                                <img class="responsive-img card-panel" id="index-image" src="{{posts.content}}">
                                {% endif %}
                                <h5 ><a href="{% url 'profile_detail' posts.user.id %}" style="color: white;">{{ post.user.username }}</a></h5>
                                <p>{{ posts.description }}</p> 
                            </div>
                        </a>
                        <form action="{% url 'like_post' posts.pk %}" method='POST'>
                            {% csrf_token %}
                            <button type='submit' name='post_id' value='{{ posts.id }}' class='btn btn-primary btn-sm'>like</button>
                            {{ post.total_likes }} - Likes 
                        </form>
                    </div>
                {% endfor %}
        </div>
    </div>
</div>


{% endblock %}