{% extends 'base.html' %} {% block content %}

<h1>{{ post.title }}</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ post.title }}</span>

        <p>Description: {{ post.description }}</p>
        <p>Date: {{ post.date }}</p>
        <p>Category: {{post.category.title}}</p>
        <img class="responsive-img card-panel" src="{{post.content}}">

    </div>
    {% if user.id == post.user.id %}
    <div class="card-action">
        <a href="{% url 'post_update' post.id %}" id="editDeletebtns">Edit</a>
        <a href="{% url 'post_delete' post.id %}">Delete</a>
    </div>
    {% endif %}
</div>
    <div class="col s6">
        {% if post.category  %}
       
        {% else %}
        <form action="{% url 'add_category' post.id %}" method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            <input class="btn green" type="submit" value="Update Category">
        </form>
        {% endif %}
    
        <table class="striped">
            <thead>
                <tr>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                {% for category in post.category_set.all  %}
                {% if forloop.counter <= 1 %}
                    <tr>
                        <td>{{ category.get_name_display }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br/><br />
    <hr>
        {{ post.total_likes }} - Likes 
    
    <script>
     var selectEl = document.getElementById('id_name');
     M.FormSelect.init(selectEl);
        
    </script>
    <div id="disqus_thread"></div>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://thejunto.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}